@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel


<div classs="row">

    <div class="col-2">
        <div class="row">
            <h3>Categories</h3>
            <hr/>
            <div class="list-group">
                @if (Model.Categories != null)
                {
                    foreach (var item in Model.Categories)
                    {
                        <a href="#" class="list-group-item list-group-item-action">@item.Name</a>
                    }
                }

            </div>
        </div>

        <div class="row">
            <h3>Readers</h3>
            <hr/>
            <div class="list-group">
                @if (Model.Readers != null)
                {
                    foreach (var item in Model.Readers)
                    {
                        <a href="#" class="list-group-item list-group-item-action">@item.FIO</a>
                    }
                }
            </div>
    </div>
    </div>

    <div class="col-10">
        @if (TempData.ContainsKey("status"))
        {

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Messages!</strong>@TempData["status"].
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        @if (Model.Books != null && Model.Books.Count() > 0)
        {
            <div class="row">
                @foreach (var item in Model.Books)
                {
                    <div class="card col-4" style="width: 18rem;">
                        <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <hr/>
                            @if (item.BookReaders.Count() < 0){
                                <span class="badge bg-danger rounded-pill">None</span>
                            }
                            else
                            {
                                @foreach (var reader in item.BookReaders)
                            {
                                <span class="badge bg-primary rounded-pill">@reader.Reader.FIO</span>
                            }
                            }
                            <hr/>
                            <strong class="card-text">@item.Category.Name</strong>
                            <p class="card-text">@Html.Raw(@item.Description)</p>
                            <span>@item.Date</span>

                            <br />
                            <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                }
            </div>
        }
     </div>

</div>




