@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Book>

@if (TempData.ContainsKey("status"))
{

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Messages!</strong>@TempData["status"].
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if(Model!= null && Model.Count()>0)
{
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="card col-4" style="width: 18rem;">
            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Category.Name</p>
                <span>@item.Date</span>
                @*  <a href="#" class="btn btn-primary">Go somewhere</a> *@
            </div>
        </div>
        }
    </div>
}


