@{
    ViewData["Title"] = "Details";
}

@model DetailViewModel

<h1>Details</h1>

<div class="card">
    <img src="@Model.Book.ImageUrl" class="detail" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Book.Title</h5>
        <p class="card-text">@Model.Book.Category.Name</p>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var item in @Model.Book.BookReaders)
        {
            <li class="list-group-item">@item.Reader.FIO</li>
        }

    </ul>
    <div class="card-body">
        <span class="card-link">@Html.Raw(@Model.Book.Description)</span>
        @if (ViewContext.ActionDescriptor.RouteValues["area"] == "Admin"){
            <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="btn btn-primary">Back</a>
        }
        else{
            <a asp-action="Index" asp-controller="Book" class="btn btn-primary">Back</a>
        }
    </div>

    <section style="background-color: #f7f6f6;">
        <div class="container my-5 py-5 text-dark">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="text-dark mb-0">Unread comments (@Model.Comments.Count())</h4>
                        <div class="card">
                            <div class="card-body p-2 d-flex align-items-center">
                                <h6 class="text-primary fw-bold small mb-0 me-1">Comments "ON"</h6>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (@Model.Comments != null)
                    {
                        @foreach (var item in @Model.Comments)
                        {
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex flex-start">
                                            <div class="w-100">
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <h6 class="text-primary fw-bold mb-0">
                                                        @item.User.Login
                                                        <span class="text-dark ms-2"> @item.Text</span>
                                                    </h6>
                                                    <p class="mb-0">Shared publicly - @item.Date</p>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="small mb-0" style="color: #aaa;">
                                                        <a href="#!" class="link-grey">Remove</a> •
                                                        <a href="#!" class="link-grey">Reply</a> •
                                                        <a href="#!" class="link-grey">Share</a>
                                                    </p>
                                                    <div class="d-flex flex-row">
                                                    @if (ViewContext.ActionDescriptor.RouteValues["area"] == "Admin")
                                                    {
                                                        <form asp-area="Admin" asp-controller="Home" asp-action="DeleteComment" method="post">
                                                            <input type="hidden" name="commentId" value="@item.Id"/>
                                                            <input type="hidden" name="bookId" value="@item.Book.Id" />
                                                            <button type="submit" class="btn btn-outline-danger">
                                                                <i class="fa-solid fa-trash-can"></i> Delete
                                                            </button>
                                                        </form>                                                        
                                                    }
                                                        <i class="fas fa-star text-warning me-2"></i>
                                                        <i class="far fa-check-circle" style="color: #aaa;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }
                    }
                    @if (ViewContext.ActionDescriptor.RouteValues["area"] != "Admin")
                    {
                        <form asp-model="@Model" asp-controller="Comment" asp-action="Add" method="post" enctype="multipart/form-data">           
                                <div class="d-flex flex-start w-100">
                                    <div class="form-outline w-100">
                                        <textarea placeholder="Comment" asp-for="Text" class="form-control" id="textAreaExample" rows="4"
                                                  style="background: #fff;"></textarea>
                                        <span asp-validation-for="Text" class="form-text text-danger"></span>
                                    </div>
                                </div>
                                <input type="hidden" name="userId" value="@Model.User.Id" />
                                <input type="hidden" name="bookId" value="@Model.Book.Id" />
                        <div class="float-end mt-2 pt-1">
                            <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                            <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                        </div>
                        </form>
                    }                    

                    </div>
                </div>
            </div>
    </section>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}