@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div classs="row"> 
       
    <div class="col-10" style="justify-content:center;">
        @if (TempData.ContainsKey("status"))
        {

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Messages!</strong>@TempData["status"].
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (Model.Books != null && Model.Books.Count() > 0)
        {
            <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                @foreach (var item in Model.Books)
                {
                    <div class="card col-4" style="width: 18rem;">
                        <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <hr />
                            @if (item.BookReaders.Count() < 0)
                            {
                                <span class="badge bg-danger rounded-pill">None</span>
                            }
                            else
                            {
                                @foreach (var reader in item.BookReaders)
                                {
                                    <span class="badge bg-primary rounded-pill">@reader.Reader.FIO</span>
                                }
                            }
                            <hr />
                            <strong class="card-text">@item.Category.Name</strong>
                            <p class="card-text">@Html.Raw(@item.Description)</p>
                            <span>@item.Date</span>

                            <br />
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                }
            </div>

            <vc:pagination current-page="@Model.CurrentPages"
                           total-pages="@Model.TotalPages"
                           limit="@Model.LimitPage"
                           reader-id="@Model.SelectedReaderId"
                           category-id="@Model.SelectedCategoryId"
                           action="Index"
                           controller="Home"></vc:pagination>
        }
        else if (@Model.Books.Count() == 0)
        {
            <h3>Not found!!!</h3>
        }
    </div>

</div>
